* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

canvas {
    border: 2px solid red;
}

.toolbar {
    min-width: 100vw;
    min-height: 120px;
    background-color: lightgray;
    border: 2px solid black;
}

.middle {
    display: flex;
    flex-direction: row;
}

.shape-creation-menu {
    background-color: lightgray;
    border: 2px solid black;
    min-width: 150px;
}

.shape-creation-menu__shape-icon {
    width: 60px;
}

.shape-creation-menu__shape-icon:hover {
    cursor: grab;
}