* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;

    --gray1: #F8F8F8;
    --gray2: #D9D9D9;
    --gray3: #B7B7B7;
    --gray4: #9B9B9B;
    --gray5: #7E7E7E;
    --gray6: #626262;
    --gray7: #464646;
    --gray8: #2A2A2A;
    --gray9: #0D0D0D;
    --purple1: #DED2F9;
    --purple2: #C9B4F1;
    --purple3: #BF99E6;
    --purple4:#9C7DD6;
    --purple5: #855CC0;
}

body {
    display: flex;
    flex-direction: column;
}

canvas {
    
}

.doc-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    min-height: 80px;
    background-color: var(--gray1)
}

.doc-header__top-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-height: 40px;
}

.doc-header__logo {
    height: 40px;
}

.doc-header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doc-header__doc-title {
    width: auto;
    height: 20px;
    padding: 5px 10px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--gray1);
}

.doc-header__doc-title:hover {
    border: 1px solid var(--gray2);
}

.doc-header__doc-title:focus {
    border: 2px solid var(--gray2);
}

.util-bar {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.util-bar__button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.util-bar__button:hover {
    cursor: pointer;
    background-color: var(--gray2);
}

/*----- TOOLBAR -----*/

.toolbar {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0px 20px;
    padding-left: 15px;
    min-width: 100vw;
    min-height: 40px;
    max-height: 40px;
    background-color: var(--gray3);
}

.toolbar__subsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.toolbar__dropdown {
    field-sizing: content;
    height: 30px;
    padding: 5px 25px 5px 5px;
    font-size: 19px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    appearance: none;
    background-image: url(../assets/drop-down-icon.svg);
    background-repeat: no-repeat;
    background-position: right 0px top 5px;
    background-size: 20px auto;
}

.toolbar__dropdown:hover {
    background-color: var(--gray4);
}

.toolbar__dropdown-option {
    border: none;
}

.toolbar__hover-dropdown {

}

.toolbar__hover-dropdown-options {
    display: none;
    gap: 10px;
    position: absolute;
    padding-top: 10px;
    list-style: none;
    background-color: var(--gray3);
}

.toolbar__hover-dropdown:hover .toolbar__hover-dropdown-options {
    display: flex;
}

.toolbar__hover-dropdown-options--vertical-alignment {
    flex-direction: column;
}

.toolbar__hover-dropdown-options--horizontal-alignment {
    flex-direction: row;
}

.toolbar__hover-dropdown-option {

}

.toolbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.toolbar__button:hover {
    background-color: var(--gray4);
}

.toolbar__button--selected {
    background-color: var(--purple4);
}

.toolbar__button-icon {
    max-width: 20px;
    max-height: 20px;
}

.toolbar__color-circle {
    min-width: 30px;
    min-height: 30px;
    background-color: white;
    border: 2px solid var(--gray9);
    border-radius: 100%;
}

.toolbar__border-color-circle {
    min-width: 30px;
    min-height: 30px;
    background-color: white;
    border: 8px solid var(--gray9);
    border-radius: 100%;
}

.middle {
    display: flex;
    flex-direction: row;
}

/* ----- SHAPE CREATION MENU ----- */

.shape-creation-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    min-width: 240px;
    background-color: var(--gray1);
}

.shape-creation-menu__title {
    margin-bottom: 10px;
    font-size: 19px;
}

.shape-creation-menu__shape-group {
    display: flex;
    flex-direction: column;
}

.shape-creation-menu__shape-group-title {
    font-size: 16px;
}

.shape-creation-menu__shape-group-shapes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: -4px;
}

.shape-creation-menu__shape-icon {
    width: 40px;
}

.shape-creation-menu__shape-icon:hover {
    cursor: grab;
}